<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ product.title }}</title>
</head>
<body>
    <script>
        window.addEventListener('load', function() {
            let toCartBtn = document.getElementById("add-to-cart"),
                increase = document.getElementById("increase"),
                decrease = document.getElementById("decrease"),
                counter = document.getElementById("counter");

            increase.onclick = function (event) {
                let value = parseInt(counter.innerHTML);
                if (isNaN(value)) value = 0;
                if (value < {{ product.stock }}) value++;
                counter.innerHTML = value.toString();
            }

            decrease.onclick = function (event) {
                let value = parseInt(counter.innerHTML);
                if (isNaN(value)) value = 0;
                if (value > 0) value--;
                counter.innerHTML = value.toString();
            }

            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            const csrftoken = getCookie('csrftoken');

            toCartBtn.onclick = function (event) {
                fetch(`{% url "cart" %}`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": csrftoken
                    },
                    body: JSON.stringify({
                        "productId": 123,
                    })
                })
                    .then(response => response.json())
                    .then(data => console.log(data))
                    .catch(err => console.log(err))
            }
        })
    </script>
    <div class="product-container">
        <div class="image-container">
            {% if product.productimage_set.all %}
                {% for image in product.productimage_set.all %}
                    <img src="{{ image.image.url }}" alt="">
                {% endfor %}
            {% else %}
                <img src="{{ product.image.url }}" alt="{{ product.title }}">
            {% endif %}
        </div>
        <div class="info-container">
            <p>Название: {{ product.title }}</p>
            <p>Цена: {{ product.price }}</p>
            <p>Описание: {{ product.description }}</p>
        </div>
        <div class="counter-container">
            <button id="decrease">-</button>
            <b id="counter">0</b>
            <button id="increase">+</button>
        </div>
    </div>
    <a href="#" id="add-to-cart">Добавить в корзину</a>
</body>
</html>